// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// カラー管理
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

$side-menu-base-color:rgb(255, 182, 116);
$main-contents-bg-color:rgb(245, 245, 234);
$modal-color:rgb(214, 225, 227);
