// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// @import "node_modules/laravel-elixir-compass";
// @import "compass/css3";

*{
  margin: 0;
  padding: 0;

}
body{

}

.side-menu{
  background-color: rgb(246, 165, 91);
  // なぜかマージンあるから補正
  position: relative;
  top: -30px;
  left: -15px;
  height: 1000px;
}
.side-menu-content {
  // メニューリストの位置を調整
  position: relative;
  top: 100px;
  margin-left: 10px;

  li{
    line-height: 1.5em;
    font-size: 1.2em;
    color: black;
    >a{
      // この書き方だどウィンドウサイズ変更に対応できなきので暫定実装!!
      display: block;
      width: 198px;
      // ここまで
      color: black;
      text-decoration: none;
    }
    :hover{
      background-color: rgb(237, 130, 42);
    }
    margin: 10px 0;
    list-style-type: none;
  }
  .list-item li{
    margin: 0;
    list-style-type: square;
  }
}
