// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

// カラー定義ファイルを_color.scss にかいてインポートするのがいいらしいけどプラグインで
// エディタに色表示できないので同一ファイルに書くほうが開発しやすいよね
@import "resources/assets/sass/_color.scss";

// @import "node_modules/laravel-elixir-compass";
// @import "compass/css3";


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
//                             共通部分のCSS
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

*{
  margin: 0;
  padding: 0;

}
body{

}

.side-menu{
  background-color: $side-menu-base-color;
  // なぜかマージンあるから補正
  position: relative;
  top: -30px;
  left: -15px;
  height: 780px;
}
.side-menu-content {
  // メニューリストの位置を調整
  position: relative;
  top: 100px;
  margin-left: 10px;

  li{
    line-height: 1.5em;
    font-size: 1.2em;
    color: black;
    >a{
      // この書き方だどウィンドウサイズ変更に対応できないので暫定実装!!
      display: block;
      width: 198px;
      // ここまで
      color: black;
      text-decoration: none;
    }
    :hover{
      background-color: darken($side-menu-base-color,10%);
    }
    margin: 10px 0;
    list-style-type: none;
  }
  .list-item li{
    margin: 0;
    list-style-type: square;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
//                             カラー定義
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
$side-menu-base-color:rgb(246, 165, 91);
