// home.scss
// カラー定義インポート
@import "resources/assets/sass/_color.scss";
.home{
  background-image: url("/img/top_background.png");
  height: 750px;
  position: relative;
  top: -20px;
}
#login-botton{
  position: relative;
  top: 8px;
  left: -5px;
}
.modal-content{
  background-color:$modal-color;
}
#description{
  font-size: 10em;
  position: relative;
  top: 300px;
  left: 600px;
}
// カレンダーのスタイル上書き
/* 日曜日 */
.fc-sun {
    color: red;
    background-color: #fff0f0;
}

/* 土曜日 */
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
.fc{
  // width: 1100px;
  margin: 0 auto;
}
